name: spell-check-lint
on:
  pull_request:
    types: [opened, synchronize, edited]
    branches:
      - main
jobs:
  lint-pull-request-title:
    runs-on: ubuntu-latest
    steps:
      - name: Verify pull request title
        uses: arjankowski/pull_request_lint@v1.0.0
